In [36]:
import json
import numpy as np
import pandas as pd

data = './transaction-data-adhoc-analysis.json'
df = pd.read_json(data)

# separate transaction items
df["transaction_items"] = df["transaction_items"].str.split(";")
new_df = df.explode("transaction_items")

# separate month
new_df['transaction_month'] = pd.to_datetime(new_df['transaction_date']).dt.month
#month name
#new_df['transaction_month'] = new_df["transaction_date"].dt.month_name()
     
# amount of transaction items
amount = new_df['transaction_items'].str[-2]
new_df['items_amount'] = amount
new_df = new_df.astype({'items_amount':'int'})

#separate transaction items from brand
items = new_df['transaction_items'].str.split(pat = ',', expand = True)
new_df.insert(loc = 1, column = 'brand_name', value = items[0])
new_df.insert(loc = 2, column = 'item_name', value = items[1])
new_df.drop('transaction_items', axis = 1, inplace = True)

new_df = new_df[["name","brand_name","item_name","transaction_value","items_amount","transaction_month"]]
new_df.head()
#here we were able to extract the month from the transaction date, each item, and the amount of items

,name,brand_name,item_name,transaction_value,items_amount,transaction_month
0,Jennifer Campbell,Exotic Extras,Beef Chicharon,5196,4,1
1,Melissa Kim,Exotic Extras,Beef Chicharon,12056,3,1
1,Melissa Kim,HealthyKid 3+,Nutrional Milk,12056,4,1
1,Melissa Kim,Candy City,Orange Beans,12056,1,1
2,Melissa Kim,HealthyKid 3+,Gummy Vitamins,5500,3,1

In [38]:
pivot = pd.pivot_table(data=new_df,
                       index=['item_name'],
                       columns=['transaction_month'],
                       values=['items_amount'],
                       aggfunc='sum')

                   items_amount
transaction_month             1      2      3      4      5      6
item_name
Beef Chicharon             9665  10001   9816   9890  10028   9902
Gummy Vitamins             9681   9980  10145   9842   9948   9980
Gummy Worms                9559   9996   9986  10043   9801   9934
Kimchi and Seaweed         9676   9949   9967   9921   9773  10104
Nutrional Milk             9727   9691   9876   9786   9881   9767
Orange Beans               9774  10037   9611   9914   9964  10106
Yummy Vegetables           9959  10256   9896   9861   9735   9722

In [139]:
for i in new_df["transaction_month"]:
        if i == 1:
            return "January"
        elif i == 2:
            return "February"
        elif i == 3:
            return "March"
        elif i == 4:
            return "April"
        elif i == 5:
            return "May"
        elif i == 6: 
            return "June"
        elif i == 7: 
            return "July"
        elif i == 8: 
            return "August"
        elif i == 9: 
            return "September"
        elif i == 10: 
            return "October"
        elif i == 11: 
            return "November"
        elif i == 12:
            return "December"
        break

SyntaxError: 'return' outside function (4065051636.py, line 3)